- content_for :heading do
  .masthead
    .container
      %h1= "Trap ##{@trap.id}"
      %p
        A summary of information about this trap.

.container.text-section
  %h2 Quick stats
  .panel.panel-default.table-responsive
    %table.table
      %thead
        %tr
          %th Battery
          %th Bait
          %th Last report
      %tbody
        %tr
          %td= "%.2fV" % [@trap.battery_level]
          %td= "%.2f%%" % [@trap.bait_level]
          %td= pretty_time(@trap.last_report.sent_at)
  %h2 Bait level history
  = bait_level_chart(@report_chunks)
  %h2 Battery level history
  = battery_level_chart(@report_chunks)
