- content_for :heading do
  .masthead
    .container
      %h1= "Trap ##{@trap.id}"
      %p
        A summary of information about this trap.

.container.text-section
  %h2 Quick stats
  .panel.panel-default.table-responsive
    %table.table
      %thead
        %tr
          %th Battery
          %th Bait
          %th Last report
      %tbody
        %tr
          %td= "%.2fV" % [@report_chunks.where(chunk_type: ReportChunk::CHUNK_TYPES[:battery_level]).order("generated_at").last.data[:level] / (1000.0)]
          %td= "%.2f%%" % [@report_chunks.where(chunk_type: ReportChunk::CHUNK_TYPES[:bait_level]).order("generated_at").group_by{|chunk| chunk.data[:bait_id]}.map{|k, vs| [k, vs.last.data[:level]]}.sort_by(&:second).first.second]
          %td= @report_chunks.select("generated_at").order("generated_at").last.generated_at
  %h2 Bait level history
  = bait_level_chart(@report_chunks)
  %h2 Battery level history
  = battery_level_chart(@report_chunks)
