!!!
%html
  %head
    %title= content_for?(:page_title) ? yield(:page_title) : 'Rat Trace'
    - if content_for?(:page_description)
      %meta{name: 'description', content: yield(:page_description)}
    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{href: 'http://fonts.googleapis.com/css?family=Roboto:500,300', rel: 'stylesheet', type: 'text/css'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/Flowtype.js/1.1.0/flowtype.min.js'}
  %body
    .wrapper
      .container
        %nav.navbar.navbar-default
          .container-fluid.navbar-header-container
            .navbar-header
              %a.navbar-brand{href: root_url} Rat Trace
      %main
        = yield
    %footer.footer
      .container
        .row
          .col-md-4
            %ul{style: "list-style: none; padding: 0;"}
              %li= link_to "Home", root_url
          .col-md-5
          .col-md-3
            Rat Trace is a project by
            = succeed(",") do
              - link_to "Aiden Nibali", "http://aiden.nibali.org/"
            an undergraduate student at
            = succeed(".") do
              - link_to "La Trobe University", "http://www.latrobe.edu.au/"
